body {
  background-color: #28222a;
}

#game {
  width: 900px;
  height: 600px;
  border: solid #120780 1px;
  border-radius: 8px;
  margin: 0 auto;

  background-image: url("./assets/NCrypR.png");
  background-repeat: no-repeat;
  background-position: -0px -0px;

  position: relative;
}

.light {
  position: absolute;

  margin: 0 auto;
  width: 100px;
  height: 90px;

  top: 203px;

  background-color: rgba(#25da73, 0);
}

#light0 {
  left: 128.5px;
}
#light1 {
  left: 263.5px;
}
#light2 {
  left: 398.5px;
}
#light3 {
  left: 533.5px;
}
#light4 {
  left: 668.5px;
}

#scorePanel {
  position: absolute;

  width: 150px;
  height: 100px;

  left: 10px;
  top: 10px;

  text-align: center;
  font-size: 15pt;
  font-family: Helvetica;

  background-color: #f1ce0d;
  border: black solid 1px;
}
